---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { markketplace } from "@config";
import HeroImage from "@components/HeroImage.astro";
import CheckoutModal from "@components/checkout/CheckoutModal";

import { marked } from "marked";

import { getCollection } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import Hr from "@components/Hr.astro";
import type { Price } from "scripts/ui.product";

import ProductPage from "@components/pages.product.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  stores: CollectionEntry<"stores">[];
  product?: CollectionEntry<"products">;
}

export async function getStaticPaths() {
  const products = await getCollection("products");

  const productsResult = products.map(product => ({
    params: {
      slug: `${product.data.slug || slugifyStr(product.data.Name)}`,
    },
    props: { product: product?.data },
  }));

  return [...productsResult];
}

const { product } = Astro.props;

const store = (await getCollection("stores"))?.[0]?.data;

const htmlDescription = marked.parse(product?.data?.Description || "");
const prices = product?.data?.PRICES || [];
const selectedImage =
  product?.data?.Thumbnail || product?.data?.SEO?.socialImage || {};

const meta = {
  title: product?.SEO?.metaTitle || `${store?.title} Product`,
  image: product?.SEO?.socialImage?.url,
  description: product?.SEO?.metaDescription,
  url: product?.SEO?.metaUrl || "/products",
  pubDatetime: product?.updatedAt,
  modDatetime: product?.createdAt,
};
---

<script>
  import { ProductSlideshow } from "../../scripts/ui.product";
  document.addEventListener("astro:page-load", () => {
    ProductSlideshow();
  });
</script>

<Layout meta={meta}>
  <ProductPage product={product} store={store} />

  <main class="product-page px-4 py-12 sm:px-6 lg:px-8">
    <div class="mx-auto w-full px-6">
      <div class="mb-10 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
        <div class="flex flex-col">
          <div class="mt-10 flex w-full flex-col justify-end">
            {
              product?.data?.Slides?.length > 0 && (
                <div class="">
                  <div class="grid grid-cols-6 gap-2">
                    {product?.data?.Slides?.map((slide: any) => {
                      return (
                        <div class="aspect-w-3 aspect-h-4 overflow-hidden rounded-lg">
                          <img
                            src={slide?.formats?.thumbnail?.url}
                            alt={slide?.alternativeText || ""}
                            data-astro-image={JSON.stringify(
                              slide?.formats?.small
                            )}
                            class="h-full w-full cursor-pointer object-cover object-center transition-opacity hover:opacity-75"
                            aria-description={slide?.caption || ""}
                          />
                        </div>
                      );
                    })}
                  </div>
                </div>
              )
            }
          </div>
        </div>
      </div>
      <Hr />

      <div class="m-4">
        <ol class="mt-4 text-sm text-gray-500">
          <li class="mb-2">
            We use Stripe to collect payments, and send payouts to the artists
          </li>
          <li class="mb-2">
            Currently we don't support a shopping cart, you can get one or
            multiple units of the same
            <em>Price</em> per transaction
          </li>
          <li class="mb-2">
            We notify the artist after a succesful transaction and forward your
            shipping details and email to them
          </li>
          <li class="mb-2">
            The artists will reach out with tracking details, or follow up steps
            to complete the transaction
          </li>
        </ol>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
